body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 3;
}

.input_field {
    grid-area: input;
}

/*
.err_container {
    grid-area: input;
}
*/

header {
    grid-row:1;
    top: 0%;
    width: 100%;
    text-align: center;
    background-color: aqua;
}

main {
    grid-row:2;
    display:grid;
    grid-template-areas: 
    'input result result'
    'input result result'
    'input result result';
    width: 100%

}

.result {
    grid-area: result;
    background-color: blueviolet;
    width: 100%;
}

footer {

    grid-row: 3;
    margin:0%;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    color:antiquewhite;
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    box-sizing: border-box;
}

.monster_icon {
    max-width: 90px;
    max-height: 90px;
}

.tooltip {
    display: none;
    position: absolute;
    border: 1px;
    border-radius: 5px;
    font-size: 1em;
    color: gold;
    background-color: blue;
}

 .monster_info:hover .tooltip {
    display: block;
}

.record_hidden {
    display:none;
}

.record_show {
    display:block;
    position: absolute;
    border: 1px;
    background-color: rgba(00,80,00, .3);
}