@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html {
    background-image: url(./assets/img/background/bg_page.jpg);
    background-size: cover;
    font:"Noto Sans";
}

body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 3;
}

.input_field {
    margin: 2%;
    grid-area: input;
    background-color: black;
    border-color: silver;
    border-style: double;
    border-inline-width: 5px;
    transition: all 0.5s ease;
}

.input_field:hover {
    border-color:greenyellow;
    transition: all 0.5s ease;
}

header {
    grid-row:1;
    top: 0%;
    width: 100%;
    text-align: center;
    color: silver;
    z-index: 1;
}

.header_img {
    z-index: 0;
    mix-blend-mode:multiply;
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0%;
    top: 0%;
}

.stamp {
    width:150px;
    height:150px;
    mix-blend-mode:color;
}



main {
    grid-row:2;
    display:grid;
    grid-template-areas: 
    'input result result'
    'input result result'
    'info info info';
    width: 100%;
    height: 100%;
}

.err_msg_container {
    background-color: red;
    border-radius: 25px;
    border-color: goldenrod;
    color: goldenrod;
    border-style:double;
}

label {
    color: silver;
    padding: 3px 3px 3px 3px;
}

.result {
    grid-area: result;
    margin: 2%;
    background-color: black;
    border-color: silver;
    border-style: double;
    border-inline-width: 5px;
    transition: all 0.5s ease;
}

.result:hover {
    border-color:greenyellow;
    transition: all 0.5s ease;
}

.info_pg {
    grid-area: info;
    margin: 2%;
    background-color: black;
    border-color: silver;
    border-style: double;
    border-inline-width: 5px;
    background-image: url("./assets/img/old_paper.jpeg");
    transition: all 0.5s ease;
}

.info_pg span {
    border-color: brown;
    border-style: groove;
}

footer {

    grid-row: 3;
    margin:0%;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    color:antiquewhite;
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    box-sizing: border-box;
}

.monster_icon {
    max-width: 90px;
    max-height: 90px;
    background-image: url("./assets/img/old_paper.jpeg");
    border-color: brown;
    border-style: ridge;
    border-width: 4px;
}

.monster_icon_small {
    max-width: 30px;
    max-height: 30px;
    background-image: url("./assets/img/old_paper.jpeg");
    border-color: brown;
    border-style: ridge;
    border-width: 1px;
}

.tooltip {
    display: none;
    position: absolute;
    border: 1px;
    border-radius: 5px;
    font-size: 1em;
    color: black;
    background-image: url("./assets/img/old_paper.jpeg");
}

 .monster_info:hover .tooltip {
    display: block;
}

.record_hidden {
    display:none;
    color: silver;
    transition: all 0.5s ease;
}

.record_show {
    display:inline;
    position: absolute;
    border: 1px;
    background-color: rgba(38,20,38, .7);
    color:silver;
}

.list {
    color: silver;
    transition: all 0.5s ease;
    gap: 10%;
}

.list:hover {
    cursor: pointer;
    color:greenyellow;
    transition: all 0.5s ease;
    background-color: #5200D0;
}

p {
    white-space: nowrap;
}

.list_sub {
    border-color: brown;
    background-image: url("./assets/img/old_paper.jpeg");
    color:black;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}